/* @import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&family=Roboto+Slab:wght@400;500;700;800;900&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

body {
  background: #fffefef3;
  color: #343a40;
  transition: background 0.3s ease-in-out, color 0.6s ease-in-out;
}

body.light {
  background-color: #fffefef3;
  color: #343a40;
}

body.dark {
  background-color: #343a40;
  color: #fffefef3;
}

.navtext.light {
  background-color: #fffefef3;
  color: #343a40;
}

.navtext.dark {
  background-color: #343a40;
  color: #fffefef3;
}

/* h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto Slab", serif;
  font-weight: 900;
} */

.container-fluid {
  padding: 0 !important;
}

.page-container {
  width: 100vw;
  min-height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-nav::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

.nav-userlink::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f2bd";
  font-size: x-large;
}

.navbar-nav {
  display: flex;
  align-items: center;
}

.section2-container {
  background-color: #f0f0f0 !important;
  color: #343a40 !important;
}

.card-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.title {
  font-weight: 700 !important;
}

/* .useredit-cardheader::after {
  content: ":";
  margin-left: 5vw;
} */

.content-container {
  margin-top: 25px;
  margin-bottom: 50px;
}

.img-landing {
  width: px !important;
}

.footer-container {
  background-color: #f0f0f0 !important;
}

a {
  color: #343a40 !important;
}
a:hover {
  color: #007bff !important;
  text-decoration: none !important;
}

.footer-1 {
  padding: 2vw;
  display: flex;
  color: #343a40 !important;
}

.footer-2 {
  color: #343a40 !important;
}

.navname {
  cursor: pointer;
}

.navname img {
  width: 100px;
}

@media (max-width: 992px) {
  .container-fluid {
    padding: 3vw !important;
  }
}

@media (max-width: 768px) {
  .footer-container {
    text-align: center;
  }
}
