@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&family=Roboto+Slab:wght@400;500;700;800;900&display=swap");

* {
  color: #202023 !important;
  font-family: "Oswald", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto Slab", serif;
  font-weight: 900;
}

.container-fluid {
  padding: 0 !important;
}

.page-container {
  width: 100vw;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

.section2-container {
  background-color: #e8f0f2 !important;
  color: #ebf2fa;
}

.card-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.title {
  font-weight: 700 !important;
}

.content-container {
  margin-top: 25px;
  margin-bottom: 50px;
}

.img-landing {
  width: 200px !important;
}

.footer-container {
  background-color: #e8f0f2;
}

.footer-1,
.footer-2 {
  padding: 2vw;
  display: flex;
}

.navname {
  cursor: pointer;
}
